header {
	color: orange;
	margin-bottom: 10px;
}

.nav {
	margin: 20px 0px;
}

.nav ul {
	padding: 0;
	margin: 0;
}

.nav ul li {
	float: left;
	list-style: none;
}

.nav ul li a {
	padding: 15px 10px;
	color: red;
	text-decoration: none;
}

footer {
	margin-top: 20px;
}